html {
    font-family: Muli, sans-serif, Arial;
    overflow-wrap: break-word;
    word-break: break-word;
}

header.top {
    background: #fff;
    box-shadow: 0 0.623rem 0.625rem 0 rgba(0,0,0,.4);
    z-index: 100;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25rem;
}

header.top hgroup {
    color: #4a4a4a;
    position: relative;
}

header.top hgroup::before {
    position: absolute;
    content: "";
    height: 5rem;
    width: 14.6rem;
    top: -1rem;
    background: no-repeat url("../assets/tu-berlin-logo-long-red.svg");
}

header.top hgroup h1 {
    text-indent: 13rem;
}


@media (max-width: 600px) {
    header.top hgroup h1 {
        text-indent: 0;
        position: relative;
        top: 2rem;
    }

    header.top hgroup::before {
        scale: 0.6;
        top: -2.1rem;
        left: -1rem;
    }
}

@media (max-width: 400px) {
    header.top hgroup h1 {
        font-size: 1.5em;
    }

    header.top hgroup::before {
        top: -2.1rem;
        left: -1.75rem;
    }
}


@media (max-width: 300px) {
    html {
        font-size: 10px;
    }

    header.top hgroup {
        top: 1rem;
    }

    header.top hgroup::before {
        top: -2.4rem;
    }
}

header.top nav.tabs li {
    border-left: 1px solid hsla(0,0%,59%,.25);
}

header.top nav.tabs a.current {
    background-color: hsla(0,0%,59%,.25);
}

header.top nav.tabs a.current:hover {
    background-color: hsla(0,0%,59%,.85);
}

header.top a:hover {
    background-color: hsla(0,0%,59%,.25);
    box-shadow: 0 0 0.25rem 0 rgba(0,0,0,.4) inset;
}

header.top nav.tabs li:first-of-kind {
    border-left: 0;
}

main.top::before,
main.top::after {
    content: "";
    background: linear-gradient(90deg,#1f90cc,#49cb40);
    position: absolute;
    height: 13rem;
    display: block;
    top:-3rem;
    right:0;
    width:100%;
    -ms-transform: skewY(-3deg);
    transform: skewY(-3deg);
    z-index: 5;
}

main.top::after {
    top: -10rem;
}

main.top {
    padding-top: 14rem;
    padding-bottom: 4rem;
}

main.top .current-page-title {
    z-index: 100;
    color: #fff;
    font-size: 350%;
}

main.top .dynamic-content{
    position: relative;
    z-index: 50;
}

footer.top {
    color: #fff;
    background: rgb(0, 0, 0);
    z-index: 50;
}

footer.top::before {
    background: #000;
    content: "";
    display: block;
    height: 13rem;
    position: absolute;
    right: 0;
    top: -7rem;
    -ms-transform: skewY(-3deg);
    transform: skewY(-3deg);
    width: 100%;
    z-index: 75;
}

nav.user {
    background-image: linear-gradient(90deg,rgba(255,255,255,0),#f6f6f6);
}

.question-group > legend{
    font-size: 130%;
    font-weight: bold;
    padding: 0.75rem;
}

.question {
    border: 0;
}

.question legend {
    font-size: 110%;
    font-weight: bold;
}

.question label {
    border-right: 1px solid hsla(0,0%,59%,.25);
    padding: 0 0.5rem;
}

.question label .short {
    display: none;
}

.question label:first-of-type {
    border-left: 0;
}


@media (max-width: 600px) {
    .question label .long {
        display: none;
    }

    .question label .short {
        display: inline;
    }
}


input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #979797;
    border-radius: 1.0625rem;
    box-sizing: border-box;
    color: #4a4a4a;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.375rem;
    margin-bottom: 1.25rem;
    min-height: 1.75rem;
    padding: 0.25rem 1.0625rem 0.125rem;
    width: 100%;
}

#profile-form fieldset {
    margin-bottom: 1rem;
    border: 1px solid hsla(0,0%,59%,.25);
    background-color: var(--main-bgd);
}


#profile-form legend{
    padding: 0.5rem;
    background-color: var(--main-bgd);
    color: var(--main-fg);
    border: 1px solid #979797;
}

#profile-form label {
    display: block;
}